header#app-header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    top: 0;
    padding: 0;
}

header#app-header div#app-header-content {
    width: 100%;
    max-width: 1010px;
    height: 77px;
    padding-left: 35px;
    padding-top: 13px;
    text-align: center;
    margin: auto;
}

header#app-header div#app-header-content span.menu {
    font-size: 30px;
    float: right;
    margin-top: 5px;
    padding-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

header#app-header div#app-header-content span.menu:hover {
    color: brown;
}

header#app-header div#app-header-content span.menu.open {
    color: #fff;
    cursor: default;
}

section {
    width: 100%;
    max-width: 1010px;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 350;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.0975);
    -webkit-box-shadow: -3px 0px 8px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    -3px 0px 8px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         -3px 0px 8px 0px rgba(50, 50, 50, 0.3);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a.menu-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);;
}

.sidenav a:hover {
    color: brown;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.sidenav.open {
    width: 250px;
}

@media (min-width: 551px) {
    header#app-header div#app-header-content {
        padding: 13px 40px;
        text-align: left;
    }

    section {
        margin: 0 auto;
        padding: 40px 40px;
    }
}