<header id="app-header">
  <div id="app-header-content">
    <a routerLink="/tindermon"
      ><img src="/assets/img/logo.png" alt="Tindermon App"
    /></a>
    <span
      id="menu-icon"
      class="menu"
      [class.open]="isMenuOpen"
      (click)="toggleMenu()"
      >&#9776;</span
    >
  </div>
</header>

<section>
  <router-outlet></router-outlet>
</section>

<nav id="mySidenav" class="sidenav" [class.open]="isMenuOpen">
  <a href="javascript:void(0)" class="closebtn" (click)="toggleMenu()"
    >&times;</a
  >
  <a routerLink="/tindermon" (click)="toggleMenu()" class="menu-item"
    >Catch Center</a
  >
  <a routerLink="/mycatches" (click)="toggleMenu()" class="menu-item"
    >All My Catches</a
  >
  <a routerLink="/about" (click)="toggleMenu()" class="menu-item">About</a>
</nav>
