<div id="pokemons">
  <div
    class="pokemon top"
    [class.catch]="isCatch"
    [class.run]="isRun"
    *ngIf="pokemon"
  >
    <div class="name">
      <a
        class="link"
        href="https://bulbapedia.bulbagarden.net/wiki/{{
          pokemon.name
        }}_(Pok%C3%A9mon)"
        target="pokemon"
        >#{{ pokemon.id }} | {{ pokemon.name }}</a
      >
    </div>
    <div class="image">
      <img src="assets/img/{{ pokemon.id }}.png" [alt]="pokemon.name" />
    </div>
    <div class="actions">
      <img
        class="action-run"
        src="assets/img/action-run.png"
        (click)="onRun(pokemon)"
        alt="Run from it!"
      />
      <img
        class="action-catch"
        src="assets/img/action-catch.png"
        (click)="onCatch(pokemon)"
        alt="Catch it!"
      />
    </div>
  </div>
  <div class="pokemon bottom" *ngIf="nextp">
    <div class="name">#{{ nextp.id }} | {{ nextp.name }}</div>
    <div class="image">
      <img src="assets/img/{{ nextp.id }}.png" />
    </div>
    <div class="actions">
      <img class="action-run" src="assets/img/action-run.png" />
      <img class="action-catch" src="assets/img/action-catch.png" />
    </div>
  </div>
  <div class="pokemon isover">
    <div class="name">&nbsp;</div>
    <div class="image">
      <img
        src="assets/img/no-pokemon.png"
      /><br />Thanks<br />for<br />catching!
    </div>
    <div class="actions">&nbsp;</div>
  </div>
</div>
