<div id="pokemons">
    <div *ngFor="let pokemon of pokemons">
        <div class="pokemon" *ngIf="!pokemon.choiceMade" [ngStyle]="{'z-index': pokemon.z}">
            <div class="name">#{{ pokemon.id }} | {{ pokemon.name }}</div>
            <div class="image"><img src="/assets/img/{{ pokemon.id }}.png" [alt]="pokemon.name" /></div>
            <div class="actions">
                <img class="action-run" src="/assets/img/action-run.png" (click)="onRun(pokemon)" onclick="runFromIt(this);" alt="Run from it!" />
                <img class="action-catch" src="/assets/img/action-catch.png" (click)="onCatch(pokemon)" onclick="catchIt(this);" alt="Catch it!" />
            </div>
        </div>
    </div>
    <div class="pokemon isover">
        <div class="name">&nbsp;</div>
        <div class="image"><img src="/assets/img/no-pokemon.png"/><br/>Thanks<br/>for<br />catching!</div>
        <div class="actions">&nbsp;</div>
    </div>
</div>