div#pokemons {
  width: 100%;
}

div.pokemon {
  text-align: center;
  position: absolute;
  top: 40;
  background-color: #fff;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

div.pokemon.catch {
  transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  opacity: 0.1;
  margin-left: 200px;
}

div.pokemon.run {
  transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  opacity: 0.1;
  margin-left: -200px;
}

div.pokemon.isover {
  z-index: -10;
}

div.pokemon div.name,
div.pokemon div.image {
  width: 100%;
}

div.pokemon div.name {
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  text-align: left;
  height: 57px;
}

div.pokemon div.image {
  margin: 0;
  background-color: #fafafa;
  text-align: center;
}

div.pokemon.isover div.image {
  height: 475px;
  background-color: #fff;
  color: #cecece;
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
}

div.pokemon.isover div.image img {
  width: 80px;
}

div.pokemon div.image img {
  width: 100%;
}

div.pokemon div.actions {
  padding: 10px;
  height: 83px;
}

div.pokemon div.actions img {
  margin: 0 15px;
  cursor: pointer;
  width: 60px;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
}

div.pokemon .link {
  text-decoration: none;
  transition: all 0.2s ease-out;
}

div.pokemon .link:hover {
  color: white;
  background: #333;
}

@media (min-width: 551px) {
  div#pokemons {
    max-width: 477px;
    margin: auto;
  }
  div.pokemon {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    max-width: 477px;
  }
  div.pokemon div.name,
  div.pokemon div.image {
    max-width: 475px;
  }

  div.pokemon.isover div.image {
    font-size: 80px;
    background-color: #fafafa;
  }

  div.pokemon div.actions img.action-run:hover {
    transform: scale(1.5) rotateZ(-5deg);
    -moz-transform: scale(1.5) rotateZ(-5deg);
    -webkit-transform: scale(1.5) rotateZ(-5deg);
    -o-transform: scale(1.5) rotateZ(-5deg);
  }

  div.pokemon div.actions img.action-catch:hover {
    transform: scale(1.5) rotateZ(5deg);
    -moz-transform: scale(1.5) rotateZ(5deg);
    -webkit-transform: scale(1.5) rotateZ(5deg);
    -o-transform: scale(1.5) rotateZ(5deg);
  }
}
