<div class="my-catches">
  <h2>My catches</h2>
  <input
    type="text"
    placeholder="Search for caught pokemon's name"
    class="find"
    [(ngModel)]="searchCriteria"
    (keyup)="getList()"
    *ngIf="pokemons.length > 0"
  />
  <div *ngIf="pokemons.length == 0" class="no-list">
    Oops! No catches so far :-(
  </div>
  <div class="list">
    <div
      class="card"
      *ngFor="let pokemon of pokemons"
      (click)="openUrl(pokemon.name)"
    >
      <div class="name">#{{ pokemon.id }} | {{ pokemon.name }}</div>
      <div class="image">
        <img src="assets/img/{{ pokemon.id }}.png" [alt]="pokemon.name" />
      </div>
    </div>
  </div>
</div>
