<div id="my-catches">
  <h2>My catches</h2>
  <input
    type="text"
    placeholder="Search for caught pokemon's name"
    class="find"
    [(ngModel)]="searchCriteria"
    (keyup)="getList()"
  />
  <table>
    <tr *ngIf="pokemons.length == 0">
      <td class="no-catches">Oops! No catches so far :-(</td>
    </tr>
    <tr *ngFor="let pokemon of pokemons">
      <td class="image">
        <img src="assets/img/{{ pokemon.id }}.png" [alt]="pokemon.name" />
      </td>
      <td class="name">
        <a
          class="link"
          href="https://bulbapedia.bulbagarden.net/wiki/{{
            pokemon.name
          }}_(Pok%C3%A9mon)"
          target="pokemon"
          >#{{ pokemon.id }} | {{ pokemon.name }}</a
        >
      </td>
    </tr>
  </table>
</div>
