* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

@media (min-width: 551px) {
    body {
        background-color: #fafafa;
    }
 }
